<footer class="footer">
  <div class="container footer__container">
    <div class="footer_info">
      <div class="logo" id="logo">
        <a href="#">
          <img src="assets/img/logo.png" alt="Logo" class="logo__img">
        </a>
      </div>
      <span class="footer__rights" id="rights">Все права защищены, 2020</span>
    </div>
    <a href="{{link}}" class="footer__inst" id="footer__inst">
      <img src="assets/img/instagram.png" alt="Instagram" class="footer__inst-instagram">
      <span class="footer__inst-text">Мы в Instagram</span>
    </a>
    <a href="tel:{{phone}}" class="footer__contact-phone" id="phone">{{phone | phoneFormat}}</a>
  </div>
</footer>
